---
---

   <span class="title">{{entry.title}}</span>
    <span class="author">
      {% for author in entry.author_array %}
        {% unless forloop.last %}
          {% if author.last == site.scholar.last_name %}
            <em>{{author.last}}, {{author.first}}</em>,
          {% else %}
            {% if site.data.coauthors[author.last] %}
              <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.last}}, {{author.first}}</a>,
            {% else %}
              {{author.last}}, {{author.first}},
            {% endif %}
          {% endif %}
        {% else %}
          {% if author.last == site.scholar.last_name %}
            <em>{{author.last}}, {{author.first}}</em>
          {% else %}
            and
            {% if site.data.coauthors[author.last] %}
              <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.last}}, {{author.first}}</a>
            {% else %}
              {{author.last}}, {{author.first}}
            {% endif %}
          {% endif %}
        {% endunless %}
      {% endfor %}
    </span>

    <span class="periodical">
    {% if entry.type == "article" %}
      <em>{{entry.journal}}</em>
    {% elsif entry.type == "inproceedings" %}
      <em>In {{entry.booktitle}}</em>
    {% endif %}
    {% if entry.year %}
      {{entry.year}}
    {% endif %}
    </span>
  


<!-- {% case {{entry.type}} %}
{% when 'article' %}
<span class="label label-success">Journal</span>
{% when 'conference' %}
<span class="label label-danger">Conference</span>
{% when 'phdthesis' %}
<span class="label label-warning">Ph. D. dissertation</span>
{% when 'masterthesis' %}
<span class="label label-warning">Master thesis</span>
{% else %}
else
{% endcase %} -->

<div id="{{key}}-materials" >
  <ul class="nav nav-pills">
    {% if entry.file %}
    <li style="display:inline"><a href="{{entry.file}}"> Download PDF</a></li>
    {% endif %}

    {% if entry.slides %}
    <li style="display:inline"><a href="{{entry.slides}}"> Slides</a></li>
    {% endif %}

    {% if entry.abstract %}
    <li style="display:inline"><a data-toggle="collapse" href="#{{key}}-abstract">Abstract</a></li>
    {% endif %}

    {% if entry.youtube %}
    <li style="display:inline"><a href="{{entry.youtube}}"> Youtube</a></li>
    {% endif %}

    {% if entry.doi %}
    <li style="display:inline"><a href="http://doi.org/{{ entry.doi }}" target="_blank"> DOI </a></li>
    {% endif %}

    {% if entry.poster %}
    <li style="display:inline"><a href="http://doi.org/{{ entry.doi }}" target="_blank"> Poster </a></li>
    {% endif %}

    {% if entry.url %}
    <li style="display:inline"><a href="{{entry.url}}"> URL </a></li>
    {% endif %}

    {% if entry.pmid %}
    <li style="display:inline"><a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ entry.pmid }}" target="_blank"> PubMed </a></li>
    {% endif %}

<!--     <li><a data-toggle="collapse" href="#{{key}}-bibtex">BibTeX</a></li>
 -->  </ul>

  {% if entry.abstract %}
  <p id="{{key}}-abstract" class="collapse">{{entry.abstract}}</p>
  {% endif %}

<!--   <pre id="{{key}}-bibtex" class="pre pre-scrollable collapse">{{entry.bibtex}}</pre> -->

</div>
